// Import partial files

@import '_variables';


.nav-item {
    font-size: 22px;
    margin-right: 50px  ;
    font-family: $navbarFontFamily;
    color: rgb(14, 48, 160);
    line-height: 2;
  }
  