// Import partial files
@import 'config/variables';
@import 'base/base';
@import 'layout/layout';
@import 'components/header';
@import 'components/home';
@import 'components/buttons';
@import 'components/about';
@import 'components/services';
@import 'components/app';
@import 'components/contact';
@import 'components/footer';
@import 'components/scroll';
@import 'components/mediaqueries';